<html>
<head>
    <title> Login </title>
</head>
<body>

    <h4> Iniciar Sesion </h4>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    {% from "_macro.html" import render_field %}

    <form id="loginForm" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ render_field(form.username )}}
        {{ render_field(form.password )}}
        
        {{ render_field(form.honeypot )}}
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

</body>
</html>